<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;  charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Spring Boot Html E-Mail</title>
</head>
<body>
	<h1>TEST SPRING BOOT E-MAIL</h1>
	<div>Welcome <b th:text="${username}"></b></div>
	<div>my id  <b th:number="username"></b></div>
    <div>dicount message   <b th:text="${discountMessage}"></b></div>
</body>
</html>